{% load static%}
{% include './components/logo.html'%}
{% include './components/navigation.html'%}
{% block mainContent%}
<link rel="stylesheet" href="{% static '/styles/files.css'%}">

      <div class="file-container">

       <!-- <Explore/> -->
        <!-- {/* <Link href="/account">
          <button class={styles.btn}>Sign up</button>
        </Link> */} -->
                 

        <div class="files martop">
<h1 class="bold move" style="margin-top: 25%;margin-bottom:10%">Credentials Drive  <span><img src="../static/public/upload-document.gif" alt=""></span></h1>
          <div class="search ">
            <form action="" method="post">
              {% csrf_token %}
              <img alt="icon"
            class="search-icon"
            width="30"
            height="30"
            src="../static/public/search.gif"
            />
            <input type="search" placeholder="search using id name for credential !" name="search" id=""  class="search-item"/>
            <input class="search-btn" type="submit" value="Search">
          </form>
          </div>
  
          
                <div class="folder">
                  <table>
                    <thead>
                      <tr>
                        <th>Data tag</th>
                        <th>Description</th>
                        <th>Content</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>

                        {%  for Credential in Credentials %}<ul>
                          <li>
                            <div class="saved-file">
                              <div class="fl">
                                {{Credential.id_name}}
                              </div>
                            
                             <div class="fl">
                              {{Credential.description}}
                             </div>

                             <div class="fl">
                              {{Credential.body}}
                             </div>

                            </div>
                          </li></ul>
                          {% endfor%}
                     
                </div>
            
          

        </div>
  

      </div>

{% endblock%}