{% extends 'main.html' %}
{% load static %}
{% block mainContent%}

<link rel="stylesheet" href="{% static '/styles/addContent.css'%}">
<div class="file-drive">
  <h1 class="bold ">Store Data to<span class="blue">Wallet</span> </h1>
  <div class="emoji">
    
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
         Explicabo beatae sapiente itaque, nemo blanditiis quae maiores reprehenderit, <br>
          perspiciatis, nostrum ab rerum sed! Adipisci neque sunt dicta quas accusantium <br>
           commodi cupiditate! Minima qui tenetur culpa distinctio. Beatae accusantium quod <br>
            quas ab aliquam voluptatum necessitatibus a aspernatur nemo nobis! Alias nisi tempore,<br>
        libero veniam sint nam fugit delectus temporibus natus eligendi debitis?
      </p>
  </div>

    

      <div class="files-x">
        <h1 class="bold-x ">Data Section.</h1>
       <div class="scroll-x">
        <div class="tips">
          <h5> <span>tips</span></h5><hr>
          <div class="ic-image">
            <img src="../static//undraw/ids.svg" alt="">
          </div>
          <p>
            
            <span>Example :</span>I'm John Smith, I was born in New York City in 1980. <br> I studied at Harvard University and currently works at Google. <br>
            I'm  facing identity theft issues as someone has <br> been using his social security number to open fraudulent accounts.
          </p>
        </div>
       <div class="categories">
          <div class="cat">
            <div class="top-content">
               
              <h5><img width="25" class="up" height="25" src="../static/public/plus.svg"/>Generate New Identity (GNI)<hr></h5>
            </div> 

              <div class="form">
                <form action="" method="post">
                  {% csrf_token %}
                <div class="form-item">
                <label class="file-name" for="file-name">Activity Name (AN)</label>
                <input type="text" name="crd-tag" placeholder="give a name to the identity for referencing" id="credential-id" />
                </div>
                

                <div class="form-item">
                  <label class="file-name" for="username">Full User Name (FUN)</label>
                  <input type="text" name="username" placeholder="full name for the identity" id="credential-id" />
                  </div>
                
                  
                  <div class="form-item">
                    <label class="file-name" for="userAddress">Metamask Account Address (MAA)</label>
                    <input type="text" name="userAddress" placeholder="user Address" id="userAddressInput" />
                    </div>

                <div class="form-item">
                  <label for="description">Describe the type of Identity needed </label>
                  <textarea name="crd-desc" id="description" placeholder="Identity requested description" ></textarea>
                </div>

                <div class="form-item">
                <label class="credential-input" for="credential-input">Identity Body(IB) describing yourself and the organisation</label>
                
                <textarea name="body"  placeholder="full name, city and country,dates,organisationand others" id="identityDataInput" ></textarea>
                </div>
               
                 <div class="sub-btn " >
          <button
            class="btn issueIdentity"
          >
            Append to Identities
          </button>
          <br />
          <br />
        </div>
                </form>
       
              </div>
          </div>
        </div>
       </div>        
      </div>

     
    </div>
    <script src="{% static '/js/metamask.js'%}"></script>
{% endblock%}