{% extends 'emailer.html'%}

{% block access_code %}

{% block img%}

<img style="margin-top: 4vh;" src="../static/undraw/get_identity.png" alt="">
{% endblock img%}

{% block paragraph %}
<div class="data">
    <div class="header">
          <a  class="link"  style="border-right: .1px solid silver;"" href="{% url 'issue identity'%}">Back to Home</a>
          <a class="link"  href="{% url 'space:logout' %}">Logout</a>
      </div>
    <h1 style="margin-bottom: 4vh;">Authorization Identity</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br>
     Explicabo beatae sapiente itaque, nemo blanditiis quae maiores reprehenderit, <br>
      perspiciatis, nostrum ab rerum sed! Adipisci neque sunt dicta quas accusantium <br>
       commodi cupiditate! Minima qui tenetur culpa distinctio. Beatae accusantium quod <br>
        quas ab aliquam voluptatum necessitatibus a aspernatur nemo nobis! Alias nisi tempore,<br>
    libero veniam sint nam fugit delectus temporibus natus eligendi debitis?
  </p>
</div>
{% endblock paragraph%}
{% block form1%}
<form method="get">
    <h1 style="margin-bottom: 4vh;">Generate Identity</h1>
    {% csrf_token %}
    <input style="padding-left: 1vw;" type="text" id="access-code" name="access-code" placeholder="Confirm access code  " required>
    <button style="margin-bottom: 15vh;" type="submit">Validate</button>
</form>  
{% endblock form1%}

{% block form2%}

{% endblock form2%}
{% endblock access_code %}