{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/land.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
</head>
<body>
  
  <div class="contain">
    <img class="cover" src="../static/public/b6.jpg" alt="">
    <div class="top">
      <p class="text">Identity Drive (ID<sup>2</sup>)<sub>system</sub></p>
    </div>
  <div class="flex" style="width: 100%; display:flex;gap:5%;align-items:center;justify-content:center">
    <a class="btn" id="start"href="{% url 'main'%}">[ Start ] </a>
  </div>
    <div class="requirements">
      <div class="system-guide">
        <h3>System guide</h3>
        <div class="outlines">
          <ol>
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing 
              elit. Voluptate dolor qui accusamus alias exercitationem molestiae inventore,
               provident tenetur consequuntur temporibus
                doloribus ex <br> voluptatem laborum accusantium?
                doloribus ex voluptatem laborum accusantium?</h5>
                
        </div>
      </div>
      <div class="metamask-download">
        <h3>Metamask Usage</h3>
        <div class="outlines">
          <h5>Lorem ipsum dolor sit amet consectetur, adipisicing 
            elit. Voluptate dolor qui accusamus alias exercitationem molestiae inventore,
             provident tenetur consequuntur temporibus
              doloribus ex voluptatem laborum accusantium?</h5>
              <h5>click <a href="">Metamask</a> to install.</h5>
        </div>
      </div>
    </div>
    

          <!-- <div style="position: fixed; height: 100%; width: 100%;">
              <div class="arc_reactor">
                <div class="case_container">
                  <div class="e7">
                    <div class="semi_arc_3 e5_1">
                      <div class="semi_arc_3 e5_2">
                        <div class="semi_arc_3 e5_3">
                          <div class="semi_arc_3 e5_4">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="core2"></div>
                  </div>
                  <ul class="marks">
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                    <li></li><li></li><li></li><li></li><li></li><li></li>
                  </ul>
                </div>
              </div>
            </div> -->
            
  </div>
</body>
</html>
