/* *{
  background-color: #092e39;
} */

ul { list-style:none; margin:0; padding:0 }

.arc_reactor {
  position: relative;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 15px #00ffccaf, inset 0px 0px 50px 15px #00ffce;
}

.core2 {
  background: #cedce0;
  width: 110px;
  height: 110px;
   border-radius:50%;
  border: 5px solid #00ffce;
  animation: flicker2 0.2s infinite;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.e7 {
  width: 95.25%;
  height: 95.25%;
  left: 2.5475%;
  right: 2.5475%;
  border: 2px solid transparent;
  background: transparent;
 border-radius:50%;
  transform: rotateZ(0deg);
  transition: 3s ease;
  text-align: center;
  line-height: 100px;
}

.case_container {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
}

.marks li {
  display:block;
  width: 3px;
  height: 11px;
  background: blue;
  position: absolute;
  margin-left: 105px;
  margin-top: -110px;
  animation: colour_ease2 3s infinite ease-in-out;
}

@keyframes colour_ease2 {
  0% { background: rgba(2,254,255,1); }
50% { background: rgba(2,254,255,0.3); }
100% { background: rgba(2,254,255,1); }
}


/* 
.marks li:first-child {transform:rotate(6deg) translateY(125px)}
.marks li:nth-child(2) {transform:rotate(12deg) translateY(125px)}
.marks li:nth-child(3) {transform:rotate(18deg) translateY(125px)}
.marks li:nth-child(4) {transform:rotate(24deg) translateY(125px)}
.marks li:nth-child(5) {transform:rotate(30deg) translateY(125px)}
.marks li:nth-child(6) {transform:rotate(36deg) translateY(125px)}
.marks li:nth-child(7) {transform:rotate(42deg) translateY(125px)}
.marks li:nth-child(8) {transform:rotate(48deg) translateY(125px)}
.marks li:nth-child(9) {transform:rotate(54deg) translateY(125px)}
.marks li:nth-child(10) {transform:rotate(60deg) translateY(125px)}
.marks li:nth-child(11) {transform:rotate(66deg) translateY(125px)}
.marks li:nth-child(12) {transform:rotate(72deg) translateY(125px)}
.marks li:nth-child(13) {transform:rotate(78deg) translateY(125px)}
.marks li:nth-child(14) {transform:rotate(84deg) translateY(125px)}
.marks li:nth-child(15) {transform:rotate(90deg) translateY(125px)}
.marks li:nth-child(16) {transform:rotate(96deg) translateY(125px)}
.marks li:nth-child(17) {transform:rotate(102deg) translateY(125px)}
.marks li:nth-child(18) {transform:rotate(108deg) translateY(125px)}
.marks li:nth-child(19) {transform:rotate(114deg) translateY(125px)}
.marks li:nth-child(20) {transform:rotate(120deg) translateY(125px)}
.marks li:nth-child(21) {transform:rotate(126deg) translateY(125px)}
.marks li:nth-child(22) {transform:rotate(132deg) translateY(125px)}
.marks li:nth-child(23) {transform:rotate(138deg) translateY(125px)}
.marks li:nth-child(24) {transform:rotate(144deg) translateY(125px)}
.marks li:nth-child(25) {transform:rotate(150deg) translateY(125px)}
.marks li:nth-child(26) {transform:rotate(156deg) translateY(125px)}
.marks li:nth-child(27) {transform:rotate(162deg) translateY(125px)}
.marks li:nth-child(28) {transform:rotate(168deg) translateY(125px)}
.marks li:nth-child(29) {transform:rotate(174deg) translateY(125px)}
.marks li:nth-child(30) {transform:rotate(180deg) translateY(125px)}
.marks li:nth-child(31) {transform:rotate(186deg) translateY(125px)}
.marks li:nth-child(32) {transform:rotate(192deg) translateY(125px)}
.marks li:nth-child(33) {transform:rotate(198deg) translateY(125px)}
.marks li:nth-child(34) {transform:rotate(204deg) translateY(125px)}
.marks li:nth-child(35) {transform:rotate(210deg) translateY(125px)}
.marks li:nth-child(36) {transform:rotate(216deg) translateY(125px)}
.marks li:nth-child(37) {transform:rotate(222deg) translateY(125px)}
.marks li:nth-child(38) {transform:rotate(228deg) translateY(125px)}
.marks li:nth-child(39) {transform:rotate(234deg) translateY(125px)}
.marks li:nth-child(40) {transform:rotate(240deg) translateY(125px)}
.marks li:nth-child(41) {transform:rotate(246deg) translateY(125px)}
.marks li:nth-child(42) {transform:rotate(252deg) translateY(125px)}
.marks li:nth-child(43) {transform:rotate(258deg) translateY(125px)}
.marks li:nth-child(44) {transform:rotate(264deg) translateY(125px)}
.marks li:nth-child(45) {transform:rotate(270deg) translateY(125px)}
.marks li:nth-child(46) {transform:rotate(276deg) translateY(125px)}
.marks li:nth-child(47) {transform:rotate(282deg) translateY(125px)}
.marks li:nth-child(48) {transform:rotate(288deg) translateY(125px)}
.marks li:nth-child(49) {transform:rotate(294deg) translateY(125px)}
.marks li:nth-child(50) {transform:rotate(300deg) translateY(125px)}
.marks li:nth-child(51) {transform:rotate(306deg) translateY(125px)}
.marks li:nth-child(52) {transform:rotate(312deg) translateY(125px)}
.marks li:nth-child(53) {transform:rotate(318deg) translateY(125px)}
.marks li:nth-child(54) {transform:rotate(324deg) translateY(125px)}
.marks li:nth-child(55) {transform:rotate(330deg) translateY(125px)}
.marks li:nth-child(56) {transform:rotate(336deg) translateY(125px)}
.marks li:nth-child(57) {transform:rotate(342deg) translateY(125px)}
.marks li:nth-child(58) {transform:rotate(348deg) translateY(125px)}
.marks li:nth-child(59) {transform:rotate(354deg) translateY(125px)}
.marks li:nth-child(60) {transform:rotate(360deg) translateY(125px)}
 */


/* $easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955); */

/* body {
    background:#111;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight:600; 
} */

p {
  color:white;
  font-size:6em;
  text-align:center;
  animation: neonGlow 2s infinite alternate ease-in-out;
  left: 35%;

}

p a{
  text-decoration: none;
  font-size:60%;
  background:transparent;
  mix-blend-mode:color;
  }
/* @keyframes neonGlow {
  0% {
    text-shadow: 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(255,255,255,.8),
                 0 0 22px  rgba(255,255,255,.8),
                 0 0 40px  rgba(66,220,219,.8),
                 0 0 60px  rgba(66,220,219,.8),
                 0 0 80px  rgba(66,220,219,.5),
                 0 0 100px rgba(66,220,219,.5),
                 0 0 140px rgba(66,220,219,.5),
                 0 0 200px rgba(66,220,219,.5);
  }
  100% {
    text-shadow: 0 0 2px rgba(255,255,255,.8),
                 0 0 8px rgba(255,255,255,.8),
                 0 0 10px rgba(255,255,255,.8),
                 0 0 20px rgba(66,220,219,.8),
                 0 0 30px rgba(66,220,219,.8),
                 0 0 40px rgba(66,220,219,.8),
                 0 0 50px rgba(66,220,219,.5),
                 0 0 80px rgba(66,220,219,.5);
}
} */
.btn{
 
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  padding: 1%;
  border-radius: 5px;
  width: 10%;
  border: .1px solid silver;

}
.text {
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}



.contain{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  text-align: center;
  flex-direction:column;
  padding-top:5%;
  background-color: rgba(0, 0, 0, 0.377);
 
}
.account-content{
  color: white;
}
.icon{
  width:100%;
  height:50%;
}
.contain #start{
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.icon img{
  width:15%;
}

.requirements{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  flex-direction: column;
}

.system-guide,.metamask-download{
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  padding: 2%;
  color: rgba(255, 255, 255, 0.644);
  border-radius: 30px;
 box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.568);
 margin-bottom: 5%;
 margin-top: 8%;
 text-align: center;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 16px;
}

::-webkit-scrollbar{
  width: .1px;
}

.cover{
  position:fixed;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  z-index:-1;
  top:0
}