{% extends '../wallet/base.html'%}
{% load static %}
{% block content%}
<link rel="stylesheet" href="{% static '/share/edit.css'%}">
<body>
    <h1>Issue Credential</h1>
    <form method="POST">
        {% csrf_token %}
         <label for="otp">OTP</label><br>
        <input type="text" name="otp" style="width: 40%;"><br>
        {{ form.as_p }}
       
        <button type="submit" style="width: 35%;">Issue Credential</button>
    </form><br>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
</body>
{% endblock content %}
