<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Credentials</title>
</head>
<body>
    <h1>My Credentials</h1>
    <ul>
        {% for credential in credentials %}
            <li>{{ credential.credential_type }} - Issued by: {{ credential.issuer }} (Issued at: {{ credential.issued_at }}) <a href="{% url 'update_credential' credential.id %}">Update</a> | <a href="{% url 'revoke_credential' credential.id %}">Revoke</a></li><br>
        {% endfor %}
    </ul>
</body>
</html>
